<!--This page contains the HTML for the custom 500 error page-->
{% extends "base.html" %}

{% block content %}
<div class="homepage container my-5 rounded-5 col-lg-10">
  <div class="py-3 p-md-5 text-center">
    <h1 class="title mx-auto mb-4">
      <span class="d-inline-block text-highlight">
        Oops
      </span>
    </h1>
    <div class="text-center mb-4 row justify-content-center">
      <div class="col-md-8">
        <img src="{{ url_for('static', filename='img/robot-sad.png') }}" alt="" class="robot ml-2">
      </div>
    </div>
    <p class="text-highlight fs-3">
      <span class="d-inline text-highlight">
        Something's gone wrong. Please reload the page or try again later.
      </span>
    </p>
  </div>
</div>
{% endblock %}