<!--This page contains the HTML for the login page, including the login form-->

{% extends "base.html" %}

{% block content %}
<div class="login container my-5 rounded-5 col-lg-10">
  <div class="py-3 p-md-5 text-center">
    <h1 class="title mx-auto mb-4">
      <span class="d-inline-block text-highlight">
        Log In Here!
      </span>
    </h1>
    {% if error %}
          <p>{{ error }}</p>
    {% endif %}
    <form method="post" action="{{ url_for('routes.login') }}">
      <p><input type="text" name="username" placeholder="Username"></p>
      <p><input type="password" name="password" placeholder="Password"></p>
      <p><input class="btn m-2 btn-lg px-4 rounded-pill" type="submit" value="Login"></p>
    </form>
  </div>
</div>
{% endblock %}